body {
	font-family: "CabinRegular";
}

iframe{
	width:900px;
	height:700px;
}
.dg {
	font-family: "CabinRegular";
}
.dg .cr.string {
	font-family: "CabinRegular";
	border-color: #43ccee;
}
.dg .cr.string input[type="text"] {
	font-family: "CabinRegular";
	color: #9FC701;
}

.dg .url {
	border: 0;
	margin-top: 4px;
	padding: 3px;
	width: 100%;
	float: right;
	font-family: "CabinRegular";
	color: white;
	text-decoration:none;
	height: 100%;
	cursor:pointer;
}

.dg .url:hover{
	color: #ff6600;
}


#position_toolbar {
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	width: 100px;
	height: 150px;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}

button.ui-button-icon-only {
	font-family: "CabinRegular";
	position: absolute;
	height: 25px;
	width: 25px;
}

.ui-button-text-only .ui-button-text {
	font-family: "CabinRegular";
	width: 115px;
	height: 15px;
	font-size: 10px;
}

.ui-widget {
	font-family: "CabinRegular";
	font-size: 10px;
}

#error {
	font-family: "CabinRegular";
	font-size: 14px;
}

#w {
	left: 0px;
	top: 25px;
}
#n {
	left: 25px;
	top: 0px;
}
#h {
	left: 25px;
	top: 25px;
}
#e {
	left: 50px;
	top: 25px;
}
#s {
	left: 25px;
	top: 50px;
}

#rw {
	left: 0px;
	top: 110px;
}
#rn {
	left: 25px;
	top: 85px;
}
#rh {
	left: 25px;
	top: 110px;
}
#re {
	left: 50px;
	top: 110px;
}
#rs {
	left: 25px;
	top: 135px;
}

#zo {
	left: 25px;
	top: 200px;
}
#zi {
	left: 25px;
	top: 175px;
}
#mode {
	left: 150px;
	margin-bottom: 10px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}

#loadinglbl {
	width: 650px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
}
#canvasloader-container {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 200px;
}

#help {
	font-size: 12px;
}

.soma {
	color: #37abc8;
}
.axons {
	color: #ff6600;
}
.dendrites {
	color: #88aa00;
}
.red {
	color: red;
}
.inputs {
	color: #334000;
}
.outputs {
	color: #682a00;
}
.io {
	color: white;
}
.helptitle {
	font-size: 14px;
}

#helpbutton {
	margin-left: 10px;
	height: 27px;
	width: 27px;
}
