iframe{
	width:900px;
	height:700px;
}
#content{
	height:100%;
}

html{
	height:100%;
}

body{
	color: #777777;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height:100%;
}

.btn{
	color: #777777;
}

.squareB {
	width:25px!important;
	height:25px!important;
	position:absolute;
	padding:0;
}

#geppettominilogo{
	background-image: url("../images/geppettoLogo.png");
	width: 125px;
	height: 42px;
	float:right;
	cursor:pointer;
	margin-top:-10px;
}


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
#geppettominilogo {
	background-image: url("../images/geppettoLogo@2x.png");
	background-size: 125px 42px;
}
}
.dg {
	font-size:13px;
}


.dg .cr.function {
	border-color: #FF6600;
}


background: #1a1a1a;
border-bottom: 1px solid #2c2c2c;
}
.dg li:not(.folder) {
cursor: auto;
height: 27px;
line-height: 27px;
overflow: hidden;
padding: 0 4px 0 5px;
}
.dg .cr {
clear: both;
padding-left: 3px;
height: 27px;
}
.dg li {
-webkit-transition: height 0.1s ease-out;
-o-transition: height 0.1s ease-out;
-moz-transition: height 0.1s ease-out;
transition: height 0.1s ease-out;
}
li {
line-height: 20px;
}
user agent stylesheetli {
display: list-item;
text-align: -webkit-match-parent;
}
Inherited from ul
.dg ul {
list-style: none;
}
user agent stylesheetul ul, ol ul {
list-style-type: circle;
}
user agent stylesheetul, menu, dir {
list-style-type: disc;
}
Inherited from div.dg
.dg {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 200;
}
.dg {
font-size: 13px;
}
.dg {
color: #eee;
font: 11px 'Lucida Grande', sans-serif;
text-shadow: 0 -1px 0 #111;
}
Inherited from li.folder
li {
line-height: 20px;
}
user agent stylesheetli {
text-align: -webkit-match-parent;
}
Inherited from ul
.dg ul {
list-style: none;
}
user agent stylesheetul, menu, dir {
list-style-type: disc;
}
Inherited from div.dg.main.a
.dg {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 200;
}
.dg {
font-size: 13px;
}
.dg {
color: #eee;
font: 11px 'Lucida Grande', sans-serif;
text-shadow: 0 -1px 0 #111;
}
Inherited from div.dg.ac
.dg {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 200;
}
.dg {
font-size: 13px;
}
.dg {
color: #eee;
font: 11px 'Lucida Grande', sans-serif;
text-shadow: 0 -1px 0 #111;
}
Inherited from body
body {
color: #777777;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;
}
Inherited from html
html {
font-size: 100%;
}

.dg li:not(.folder){
	background-color:rgba(26,26,26,0.7);
}
.dg .cr.string {
	border-color: #43ccee;
}
.dg .cr.string input[type="text"] {
	color: #9FC701;
}

.dg .url {
	border: 0;
	margin-top: 4px;
	padding: 3px;
	width: 100%;
	float: right;
	color: white;
	text-decoration:none;
	height: 100%;
	cursor:pointer;
}

.dg .url:hover{
	color: #ff6600;
}


#position_toolbar {
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	width: 100px;
	height: 150px;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}

.highlight:hover{
	color:#FF6600;
}
.rotate90
{
transform: rotate(90deg);
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Safari and Chrome */
-o-transform: rotate(90deg); /* Opera */
-moz-transform: rotate(90deg); /* Firefox */
}

.rotate180
{
transform: rotate(180deg);
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Safari and Chrome */
-o-transform: rotate(180deg); /* Opera */
-moz-transform: rotate(180deg); /* Firefox */
}

.dg{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:200;
}

input{
	font-weight:200;
}
.ui-widget {
}

#error {
}

#w {
	left: 0px;
	top: 25px;
}
#n {
	left: 25px;
	top: 0px;
}
#h {
	left: 25px;
	top: 25px;
}
#e {
	left: 50px;
	top: 25px;
}
#s {
	left: 25px;
	top: 50px;
}

#rw {
	left: 0px;
	top: 110px;
}
#rn {
	left: 25px;
	top: 85px;
}
#rh {
	left: 25px;
	top: 110px;
}
#re {
	left: 50px;
	top: 110px;
}
#rs {
	left: 25px;
	top: 135px;
}

#zo {
	left: 25px;
	top: 200px;
}
#zi {
	left: 25px;
	top: 175px;
}
#mode {
	margin-bottom: 10px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}


#canvasloader-container {
	margin: 0 auto;
	margin-top: 50px;
	font-size:70pt!important;
	color:#37ABC8;
	width:100px;
}

#help {
	padding:10px;
	width:700px;
	font-weight:200;
	font-size:13px;
}
.helptitle {
	font-size:20px;
}

.soma {
	color: #37abc8;
}
.axons {
	color: #ff6600;
}
.dendrites {
	color: #88aa00;
}
.red {
	color: red;
}
.inputs {
	color: #334000;
}
.outputs {
	color: #682a00;
}
.io {
	color: white;
}


#helpbutton {
	left: 130px;
}
