iframe{
	width:900px;
	height:700px;
}
#content{
	height:100%;
}

html{
	height:100%;
}

body{
	color: #777777;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height:100%;
}

.btn{
	color: #777777;
}

.squareB {
	width:25px!important;
	height:25px!important;
	position:absolute;
	padding:0;
}
.dg {

}
.dg .cr.string {
	border-color: #43ccee;
}
.dg .cr.string input[type="text"] {
	color: #9FC701;
}

.dg .url {
	border: 0;
	margin-top: 4px;
	padding: 3px;
	width: 100%;
	float: right;
	color: white;
	text-decoration:none;
	height: 100%;
	cursor:pointer;
}

.dg .url:hover{
	color: #ff6600;
}


#position_toolbar {
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	width: 100px;
	height: 150px;
}

#toolbar {
	position: absolute;
	left: 100px;
	top: 10px;
	width: 330px;
	height: 100px;
}


.rotate90
{
transform: rotate(90deg);
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Safari and Chrome */
-o-transform: rotate(90deg); /* Opera */
-moz-transform: rotate(90deg); /* Firefox */
}

.rotate180
{
transform: rotate(180deg);
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Safari and Chrome */
-o-transform: rotate(180deg); /* Opera */
-moz-transform: rotate(180deg); /* Firefox */
}

.dg{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:200;
}

input{
	font-weight:200;
}
.ui-widget {
}

#error {
}

#w {
	left: 0px;
	top: 25px;
}
#n {
	left: 25px;
	top: 0px;
}
#h {
	left: 25px;
	top: 25px;
}
#e {
	left: 50px;
	top: 25px;
}
#s {
	left: 25px;
	top: 50px;
}

#rw {
	left: 0px;
	top: 110px;
}
#rn {
	left: 25px;
	top: 85px;
}
#rh {
	left: 25px;
	top: 110px;
}
#re {
	left: 50px;
	top: 110px;
}
#rs {
	left: 25px;
	top: 135px;
}

#zo {
	left: 25px;
	top: 200px;
}
#zi {
	left: 25px;
	top: 175px;
}
#mode {
	margin-bottom: 10px;
}

#io {
	width: 90px;
	float: left;
}

.square {
	height: 25px;
	width: 25px;
}

#rotationmode {
	float: left;
}


#canvasloader-container {
	margin: 0 auto;
	margin-top: 50px;
	font-size:70pt!important;
	color:#37ABC8;
	width:100px;
}

#help {
	padding:10px;
	width:700px;
	font-weight:200;
}
.helptitle {
	font-size:20px;
}

.soma {
	color: #37abc8;
}
.axons {
	color: #ff6600;
}
.dendrites {
	color: #88aa00;
}
.red {
	color: red;
}
.inputs {
	color: #334000;
}
.outputs {
	color: #682a00;
}
.io {
	color: white;
}


#helpbutton {
	left: 130px;
}
